In [1]:
from sklearn.pipeline import Pipeline
import ETL 
import pandas as pd
import warnings

In [2]:
df = pd.read_csv('../data/d01_raw/books_data.csv')
pd.set_option('display.max_columns', None)
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
str_pipe = Pipeline(steps=[
    ("ConvertPriceToNumber", ETL.ConvertPriceToNumber(column_name="Book_Price")),
    ("TransformPriceIntoReal", ETL.TransformPriceIntoReal(column_name="Book_Price")),
    ("ConvertRatingToNumber", ETL.ConvertRatingToNumber(column_name="Book_Rating")),
    ("QuantityBookAvailable", ETL.QuantityBookAvailable(column_name="Book_Stock")),
    ("TransformBookStock", ETL.TransformBookStock(column_name="Book_Stock")),
    ("ChangeOrderColumns", ETL.ChangeOrderColumns(column_names=["Book_Category", "Book_Title", "Book_Price", "Book_Price_BR", "Book_Stock", "Book_Stock_Available", "Book_Rating"]))
])

In [4]:
example = str_pipe.fit_transform(df)
example.head(15)

,Book_Category,Book_Title,Book_Price,Book_Price_BR,Book_Stock,Book_Stock_Available,Book_Rating
0,Travel,It's Only the Himalayas,45.17,268.7615,True,19,2
1,Travel,Full Moon over Noah’s Ark: An Odyssey to Mount...,49.43,294.1085,True,15,4
2,Travel,See America: A Celebration of Our National Par...,48.87,290.7765,True,14,3
3,Travel,Vagabonding: An Uncommon Guide to the Art of L...,36.94,219.7930,True,8,2
4,Travel,Under the Tuscan Sun,37.33,222.1135,True,7,3
5,Travel,A Summer In Europe,44.34,263.8230,True,7,2
6,Travel,The Great Railway Bazaar,30.54,181.7130,True,6,1
7,Travel,A Year in Provence (Provence #1),56.88,338.4360,True,6,4
8,Travel,The Road to Little Dribbling: Adventures of an...,23.21,138.0995,True,3,1
9,Travel,Neither Here nor There: Travels in Europe,38.95,231.7525,True,3,3
10,Travel,"1,000 Places to See Before You Die",26.08,155.1760,True,1,5
11,Mystery,Sharp Objects,47.82,284.5290,True,20,4
12,Mystery,"In a Dark, Dark Wood",19.63,116.7985,True,18,1
13,Mystery,The Past Never Ends,56.50,336.1750,True,16,4
14,Mystery,A Murder in Time,16.64,99.0080,True,16,1

In [5]:
example.to_csv("../data/d02_intermediate/books_data_cleaned.csv", index=False)